/* @theme spanish-siesta */

:root {
  --color-background: #2d1b0e;
  --color-foreground: #f5e6d3;
}

section {
  font-family: 'Noto Sans JP', 'Hiragino Sans', sans-serif;
  font-size: 32px;
  padding: 40px 60px;
  background-color: #2d1b0e;
  color: #f5e6d3;
}

section.compact p:not(:has(small)),
section.compact ul,
section.compact blockquote,
section.compact td {
  font-size: 0.8em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-left: 0;
}
section.compact p:has(small) {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

section.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.lead p,
section.lead ul,
section.lead ol {
  text-align: left;
}

h1 {
  color: #e8c840;
  text-align: center;
}

h2 {
  color: #d4432a;
  border-bottom: 2px solid #d4432a;
  padding-bottom: 0.2em;
  margin-top: 0;
  margin-block-end: 0.5em;
}

h3 {
  color: #e07030;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

strong {
  color: #ff6b35;
}

blockquote {
  border-left: 4px solid #e8c840;
  background: rgba(232, 200, 64, 0.1);
  padding: 0.25 1em;
  font-style: italic;
  margin: 1em auto;
  max-width: 80%;
}

ul, ol {
  padding-left: 2em;
  margin-left: 1em;
}

li {
  margin-bottom: 0.3em;
}

table {
  font-size: 0.65em;
  display: table;
  width: auto !important;
  max-width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  border-collapse: collapse;
  background: transparent !important;
}

th {
  background: #3d2b1e !important;
  color: #e8c840 !important;
  border: 1px solid #e07030 !important;
  padding: 0.25em 0.5em;
  text-align: center;
}

td {
  background: #2d1b0e !important;
  color: #f5e6d3 !important;
  border: 1px solid #5a4030 !important;
  padding: 0.25em 0.5em;
  text-align: center;
}

tr:nth-child(even) td {
  background: #3d2b1e !important;
}

img {
  max-width: 60%;
  max-height: 400px;
  object-fit: contain;
  display: block;
  margin: 0.5em auto;
}

img[data-marp-emoji],
img.emoji {
  display: inline;
  max-width: 1em;
  max-height: 1em;
  margin: 0;
  vertical-align: text-bottom;
}

a img {
  max-width: 80%;
  max-height: 300px;
}

img + em, a + em {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: #a08060;
}

code {
  background: #3d2b1e;
  color: #e8c840;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-size: 0.9em;
}

pre {
  background: #3d2b1e;
  border-left: 3px solid #e07030;
  border-radius: 4px;
  padding: 0.25em 1em;
}

pre code {
  background: transparent;
  padding: 0;
  font-size: 0.5em;
}

small {
  color: #a08060;
  font-size: 0.5em;
}

small a {
  color: #a08060;
  text-decoration: underline;
}
